<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist Application</title>
    <link rel="stylesheet" href="/main.css">
</head>
<nav class="main-nav">
    <ul class="nav-item">
        <li class="nav-list">
            <a class="nav-link" href="/">Today</a>
        </li>
        <li class="nav-list">
            <a class="nav-link" href="/work">Work</a>
        </li>
    </ul>
</nav>